@model ViewmMODeElMASTER
@{
    ViewData["Title"] = "AddEditProduct";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<form class="flex-fill" method="post" asp-controller="Product" asp-action="Save" enctype="multipart/form-data">
    <div class="page-wrapper cardhead">
        <div class="content container-fluid">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col">
                        <h3 class="page-title">Basic Inputs</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Basic Inputs</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Basic Inputs</h5>
                        </div>

                        <div class="card-body">


                            <input type="hidden" asp-for="@Model.Product.DataEntry" class="form-control" value="@User.Identity.Name">
                            <input type="hidden" asp-for="@Model.Product.IdProduct" class="form-control">                     
                            <input type="hidden" asp-for="@Model.Product.DateTimeEntry" value="@DateTime.Now">
                            <input type="hidden" asp-for="@Model.returnUrl" id="url">
                            <span style="color:royalblue"> <strong>@TempData["Saved successfully"]</strong></span>
                            <span style="color:red"> <strong>@TempData["ErrorSave"]</strong></span>


                       



                            <div class="card-content">
                                <div class="row small-spacing">
                                    <div class="col-lg-6 col-xs-6">
                                        <label asp-for="@Model.Product.IdCategory" for="exampleInputEmail1">الفئة</label>
                                        <select class="form-select" asp-for="@Model.Product.IdCategory" asp-items="@(new SelectList(ViewBag.category, "IdCategory", "CategoryNameAr"))">
                                        </select>
                                        <span asp-validation-for="@Model.Product.IdCategory" class="text-danger"></span>

                                    </div>
                                    <div class="col-lg-6 col-xs-6">
                                        <label for="exampleInputEmail1">@ResourceWeb.LbPrice</label>
                                        <input type="text" asp-for="@Model.Product.price" placeholder="@ResourceWeb.LbPrice" class="form-control">
                                        <span asp-validation-for="@Model.Product.price" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>

                            <div class="card-content">
                                <div class="row small-spacing">
                                    <div class="col-lg-6 col-xs-6">
                                        <label for="exampleInputEmail1">@ResourceWeb.lbProductNameAr</label>
                                        <input type="text" asp-for="@Model.Product.ProductNameAr" placeholder="@ResourceWeb.lbProductNameAr" class="form-control" maxlength="300">
                                        <span asp-validation-for="@Model.Product.ProductNameAr" class="text-danger"></span>

                                    </div>
                                    <div class="col-lg-6 col-xs-6">
                                        <label for="exampleInputEmail1">@ResourceWeb.lbProductNameEn</label>
                                        <input type="text" asp-for="@Model.Product.ProductNameEn" placeholder="@ResourceWeb.lbProductNameEn" class="form-control" maxlength="300">
                                        <span asp-validation-for="@Model.Product.ProductNameEn" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>

                            <div class="card-content">
                                <div class="row small-spacing">
                             
                                    <div class="col-lg-6 col-xs-6">
                                        <label class="col-form-label col-md-2" asp-for="@Model.Product.DescriptionAr" for="exampleInputEmail1">@ResourceWeb.LbDescriptionAr</label>
                                        <textarea asp-for="@Model.Product.DescriptionAr" type="text" placeholder="@ResourceWeb.LbDescriptionAr ...." rows="5" cols="5" class="form-control" maxlength="2000"></textarea>
                                        <span asp-validation-for="@Model.Product.DescriptionAr" class="text-danger"></span>

                                    </div>
                                    <div class="col-lg-6 col-xs-6">
                                        <label class="col-form-label col-md-4" asp-for="@Model.Product.DescriptionEn" for="exampleInputEmail1">@ResourceWeb.LbDescriptionEn</label>
                                        <textarea asp-for="@Model.Product.DescriptionEn" type="text" placeholder="@ResourceWeb.LbDescriptionEn ...." rows="5" cols="5" class="form-control" maxlength="2000"></textarea>
                                        <span asp-validation-for="@Model.Product.DescriptionEn" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="card-content" >
                                <div class="row small-spacing">
                                    <div class="card-content" >
                                        <div class="row small-spacing">
                                            <div class="col-lg-6 col-xs-6">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" asp-for="@Model.Product.CurrentState" role="switch" id="flexSwitchCheckChecked" checked="">
                                                    <label class="form-check-label" for="flexSwitchCheckChecked">
                                                        " الحالة
                                                    </label>
                                                </div>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" asp-for="@Model.Product.Active" role="switch" id="flexSwitchCheckChecked" checked="">
                                                    <label class="form-check-label" for="flexSwitchCheckChecked">
                                                        " التفعيل
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="page-wrapper cardhead" style="margin-top:-50px">
        <div class="content container-fluid">

            <!-- Page Header -->
            <!-- /Page Header -->

            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Olde Photo</h5>
                        </div>



                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">





                                    <div class="card-content">
                                        <div class="row small-spacing">
                                            <div class="col-lg-6 col-xs-6">
                                                <div class="custom-file-container" data-upload-id="myFirstImage">
                                                    <label>
                                                        <a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image"></a>
                                                    </label>

                                                    <label class="custom-file-container__custom-file">
                                                        <input type="file" class="custom-file-container__custom-file__custom-file-input" name="Files" id="file" onchange="loadFile(event)">
                                                        <input type="hidden" name="MAX_FILE_SIZE" value="10485760">
                                                        <img id="output" width="250" height="250" />
                                                    </label>
                                                </div>

                                            </div>
                                          @*   <div class="col-lg-6 col-xs-6">
                                                <div class="form-group">
                                                    <input type="hidden" asp-for="@Model.Product.Photo" for="exampleInputEmail1"></input>
                                                    <p><img src="@string.Format("/Images/Home/{0}",Model.Product.Photo)" id="output" width="100" height="100" /></p>
                                                </div>
                                                <span class="custom-file-container__custom-file__custom-file-control"></span>

                                                <div class="custom-file-container__image-preview"></div>
                                            </div> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-grid gap-2 mb-4">



                            <button class="btn btn-secondary" type="submit">@ResourceWeb.lbSave</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

</form>
@section Scripts {
    <script>
        var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src); // free memory
            }
        };
    </script>
}

